/* Background styling */
.signup-page {
  background: url('../img/Background1.jpg') no-repeat center center/cover;
  height: 100vh;
  display: block;
  justify-content: center;
  align-items: center;
  font-family: Futura, sans-serif;
  color: #E3867D;
}

.signup-page img {
  margin-top: -70px;
  margin-left: -1000px;
  height: 30%;
  width: 30%;
}

/* Centered signup container */
.signup-container {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 2rem;
  border-radius: 8px;
  margin-left: 60px;
  width: 350px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

/* Input field styling */
.input-group {
  margin-bottom: 1.5rem;
  margin-right: 20px;
}

.input-group label {
  display: block;
  font-size: 1rem;
  margin-bottom: 0.3rem;
}

.input-group input {
  width: 100%;
  padding: 0.8rem;
  font-size: 1rem;
  border: none;
  border-radius: 4px;
  margin-top: 0.3rem;
}

/* Error message */
.error-message {
  color: red;
  font-size: 16px;
  margin-bottom: 20px;
}


/* Button styling */
.signup-button {
  background-color: #ff6b6b;
  color: white;
  font-size: 1rem;
  border: none;
  padding: 0.8rem;
  width: 100%;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.signup-button:hover {
  background-color: #f13838;
}

/* Link styling */
a {
  color: #ff6b6b;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
