
<div style="text-align: center" >
  <h1>{{itinerary.destination}}</h1>
  <h4 style="margin-top: -10px">Date: {{formatDate itinerary.startDate}} - {{formatDate itinerary.endDate}}</h4>
  <h3 style="text-align: left">Day 1</h3>
  <h3 style="text-align: left">Day 2</h3>
  <h3 style="text-align: left">Day 3</h3>
</div>
